$vert-pad = 10px
legend
	color white
	padding-left 1em
	padding-top .25em
	padding-bottom .25em
	font-weight 300
	font-size 1.25em
	background-color #337ab7
label.control-label
	font-weight 400
select.form-control, input[type=text]
	height 2em


h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 300;
}
h1 {
  font-size: 36px;
}
body, .form-control, .btn {
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
}

body {
  padding-top 2em
  padding-bottom 2em
}
strong {
  font-weight: 400;
}