<fieldset><legend>{{name}}</legend>
{{#fieldset}}
	<section class="form-group {{#errors}}has-error{{/errors}} {{^errors}}{{#value}}has-success{{/value}}{{/errors}} col-sm-9">
		<label for="{{id}}" class="col-md-3 col-sm-2 col-xs-12 control-label">
			Full Name
		</label>
		{{#title}} 		
			<p class="col-xs-3">
				<select id="{{id}}"  name="{{id}}" class="form-control">
					<option value="">{{placeholder}}</option>
					{{#options}}
					<option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{option}}</option>
					{{/options}}
				 </select>
			</p>
		{{/title}}
		{{#first_name}} 	
			<p class="form-inline col-xs-3">	
				<input type="text" id="{{id}}"  name="{{id}}" class="form-control" value="{{value}}" placeholder="{{placeholder}}" aria-describedby="basic-addon1"> 	
			</p>
		{{/first_name}}
		{{#last_name}} 		
			<p class="form-inline col-xs-3">
				<input type="text" id="{{id}}"  name="{{id}}" class="form-control" value="{{value}}" placeholder="{{placeholder}}" aria-describedby="basic-addon1"> 	
			</p>
		{{/last_name}}
		{{>input_error}}
	</section>
{{/fieldset}}
</fieldset>

