{{#is_radio}}
{{#options}}
<span class="radio">
	<label> 
		{{option}}
		<input type="radio" name="{{id}}" id="{{id}}" value="{{value}}"{{#selected}} checked="checked" {{/selected}} > 
	</label>
</span>
{{/options}}
{{/is_radio}}

