{{#is_checkbox}}
{{#options}}
<span class="radio">
	<label>
		<input type="checkbox" name="{{id}}_{{value}}" id="{{id}}_{{value}}" value="{{value}}"{{#selected}} checked="checked" {{/selected}} > 
		{{option}}
	</label>
</span>
{{/options}}
{{/is_checkbox}}