{{#is_text}}
<p class="input-group">
	<label for="{{id}}" class="input-group-addon" id="basic-addon1">{{label}}</label>
	<input type="text" id="{{id}}"  name="{{id}}" class="form-control" value="{{value}}" placeholder="{{placeholder}}">
</p>
{{/is_text}}